<div class="row">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>{{welcomeMessage}}</h2>
            <p>Please insert your PseudoBank card.</p>
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button type="button" class="btn btn-primary btn-lg btn-block">Press to insert your PseudoBank card</button>
        </div>
    </div>
</div>